@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff; /* White */
    --foreground: #092d71; /* Primary dark blue */
    --card: #f7f7f7; /* Light ash */
    --card-foreground: #092d71; /* Primary dark blue */
    --popover: #f2ece6; /* Light beige */
    --popover-foreground: #092d71; /* Primary dark blue */
    --primary: #092d71; /* Primary dark blue */
    --primary-foreground: #ffffff; /* White */
    --secondary: #eca105; /* Golden yellow */
    --secondary-foreground: #ffffff; /* White */
    --muted: #e8edf6; /* Light blue-gray */
    --muted-foreground: #737373; /* Medium gray */
    --accent: #eca105; /* Golden yellow */
    --accent-foreground: #092d71; /* Primary dark blue */
    --destructive: #092d71; /* Bright red */
    --destructive-foreground: #ffffff; /* White */
    --border: #e5e5e5; /* Light gray */
    --input: #e5e5e5; /* Light gray */
    --ring: #eca105; /* Golden yellow */
    --radius: 0.5rem;
  }

  .dark {
    --background: #092d71; /* Primary dark blue */
    --foreground: #f5f5f5; /* Light gray */
    --card: #0a0a0a; /* Very dark gray */
    --card-foreground: #f5f5f5; /* Light gray */
    --popover: #0a0a0a; /* Very dark gray */
    --popover-foreground: #f5f5f5; /* Light gray */
    --primary: #eca105; /* Golden yellow */
    --primary-foreground: #092d71; /* Primary dark blue */
    --secondary: #092d71; /* Primary dark blue */
    --secondary-foreground: #f5f5f5; /* Light gray */
    --muted: #262626; /* Dark gray */
    --muted-foreground: #262626; /* Medium light gray */
    --accent: #eca105; /* Golden yellow */
    --accent-foreground: #f5f5f5; /* Light gray */
    --destructive: #4d0b0b; /* Darker red */
    --destructive-foreground: #f5f5f5; /* Light gray */
    --border: #262626; /* Dark gray */
    --input: #262626; /* Dark gray */
    --ring: #eca105; /* Golden yellow */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

.hero-gradient {
  background: linear-gradient(135deg, lch(20.55% 45.77 291.6 / 0.2) 0%, #eca10533 100%);
}

.text-gradient {
  background: linear-gradient(90deg, #092d71, #eca105);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

