@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #ffffff; /* White */
    --foreground: #0a0a0a; /* Very dark gray */
    --card: #ffffff; /* White */
    --card-foreground: #0a0a0a; /* Very dark gray */
    --popover: #ffffff; /* White */
    --popover-foreground: #0a0a0a; /* Very dark gray */
    --primary: #092d71; /* Very dark gray */
    --primary-foreground: #fafafa; /* Very light gray */
    --secondary: #f5f5f5; /* Light gray */
    --secondary-foreground: #171717; /* Very dark gray */
    --muted: #f5f5f5; /* Light gray */
    --muted-foreground: #737373; /* Medium gray */
    --accent: #f5f5f5; /* Light gray */
    --accent-foreground: #171717; /* Very dark gray */
    --destructive: #092d71; /* Dark red */
    --destructive-foreground: #fafafa; /* Very light gray */
    --border: #e5e5e5; /* Light gray */
    --input: #e5e5e5; /* Light gray */
    --ring: #0a0a0a; /* Very dark gray */
    --chart-1: #092d71; /* Blue */
    --chart-2: #092d71; /* Green */
    --chart-3: #092d71; /* Orange */
    --chart-4: #092d71; /* Purple */
    --chart-5: #092d71; /* Red */
    --radius: 0.5rem;
    --sidebar-background: #fafafa; /* Very light gray */
    --sidebar-foreground: #3f3f3f; /* Dark gray */
    --sidebar-primary: #171717; /* Very dark gray */
    --sidebar-primary-foreground: #ffffff; /* White */
    --sidebar-accent: #f5f5f5; /* Light gray */
    --sidebar-accent-foreground: #171717; /* Very dark gray */
    --sidebar-border: #f5f5f5; /* Light gray */
    --sidebar-ring: #3498db; /* Blue */
  }
  .dark {
    --background: #0a0a0a; /* Very dark gray */
    --foreground: #f5f5f5; /* Light gray */
    --card: #0a0a0a; /* Very dark gray */
    --card-foreground: #f5f5f5; /* Light gray */
    --popover: #0a0a0a; /* Very dark gray */
    --popover-foreground: #f5f5f5; /* Light gray */
    --primary: #092d71; /* Light gray */
    --primary-foreground: #171717; /* Very dark gray */
    --secondary: #262626; /* Dark gray */
    --secondary-foreground: #f5f5f5; /* Light gray */
    --muted: #262626; /* Dark gray */
    --muted-foreground: #a3a3a3; /* Medium light gray */
    --accent: #262626; /* Dark gray */
    --accent-foreground: #f5f5f5; /* Light gray */
    --destructive: #4d0b0b; /* Darker red */
    --destructive-foreground: #f5f5f5; /* Light gray */
    --border: #262626; /* Dark gray */
    --input: #262626; /* Dark gray */
    --ring: #d4af37; /* Gold */
    --chart-1: #092d71; /* Blue */
    --chart-2: #092d71; /* Green */
    --chart-3: #092d71; /* Orange */
    --chart-4: #092d71; /* Purple */
    --chart-5: #092d71; /* Red */
    --sidebar-background: #171717; /* Very dark gray */
    --sidebar-foreground: #f5f5f5; /* Light gray */
    --sidebar-primary: #0a0a0a; /* Very dark gray */
    --sidebar-primary-foreground: #ffffff; /* White */
    --sidebar-accent: #262626; /* Dark gray */
    --sidebar-accent-foreground: #f5f5f5; /* Light gray */
    --sidebar-border: #262626; /* Dark gray */
    --sidebar-ring: #3498db; /* Blue */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
